<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ApiDoc Protector</title>
    <style th:text="${apidoc_protector_theme}"></style>
</head>

<body id="body_password">
    <div id="right-side">
        <p id="apidoc-protector-icon">&#9661;</p>
        <h3>APIDOC PROTECTOR</h3>
        <p style="color: #676767;">Powered by Huntercodexs &copy; 2022</p>
    </div>
    <div id="left-side">
        <h5>Password Request</h5>
        <form method='POST' th:action="${apidoc_protector_target}" enctype='application/x-www-form-urlencoded'>

            <p class="title-field">Email</p>
            <p>
                <input type='text' name='email' id='email' value="" />
            </p>

            <p id="p-button">
                <input type='submit' id='bt-password' value='Send' />
            </p>
            <p id="post-message" th:text="${apidoc_protector_password}"></p>
        </form>
    </div>
    <script type="text/javascript" th:src="@{/apidocprotector/js/password.js}"></script>
</body>
</html>
