<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ApiDoc Protector</title>
    <style th:text="${apidoc_protector_theme}"></style>
</head>

<body id="body_recovery">
    <div id="right-side">
        <p id="apidoc-protector-icon">&#9661;</p>
        <h3>APIDOC PROTECTOR</h3>
        <p class="powered-by">Powered by Huntercodexs &copy; 2022</p>
    </div>
    <div id="left-side">
        <h5>Account Recovery</h5>
        <form id="form-recovery" method='POST' th:action="${apidoc_protector_target}" enctype='application/x-www-form-urlencoded'>

            <p class="title-field">Email</p>
            <p>
                <input type='email' name='email' id='email' value="" required  />
            </p>

            <p id="p-button">
                <input type='submit' id='bt-recovery' value='Send' />
            </p>
            <p id="post-message" th:text="${apidoc_protector_recovery}"></p>
        </form>
    </div>
    <script type="text/javascript" th:src="@{/apidocprotector/js/recovery.js}"></script>
</body>
</html>
