<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ApiDoc Protector</title>
    <style th:text="${apidoc_protector_theme}"></style>
</head>

<body id="body_error">
    <div id="error-box" style="width: 300px;height: 300px;margin: 100px auto;text-align: center;font-family: arial;">
        <h4>APIDOC PROTECTOR</h4>
        <small th:text="${apidoc_protector_error_title}"></small>
        <strong><small th:text="${apidoc_protector_error_info}"></small></strong>
        <br />
        <small>Please check your support</small>
    </div>
</body>
</html>
