<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Swagger UI 4</title>
    <link rel="stylesheet" type="text/css" href="./swagger-ui.css" />
    <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16" />
    <style th:text="${apidoc_protector_swagger_css}"></style>
</head>

<body>

<input id="hidden-api-docs-path" type="hidden" th:value="${api_docs_path}" />
<input id="swagger-layout" type="hidden" th:value="${swagger_layout}" />
<input id="show-url-api-docs" type="hidden" th:value="${show_url_api_docs}" />

<div id="inject-content">
    <span id="exit">
        <a th:href="${apidoc_protector_logout_token}">&#10162;</a>
    </span>
</div>

<div id="swagger-ui"></div>

<script src="./swagger-ui-bundle.js" charset="UTF-8"> </script>
<script src="./swagger-ui-standalone-preset.js" charset="UTF-8"> </script>
<script type="text/javascript" th:src="@{/apidocprotector/js/swagger-ui.js}"></script>
</body>
</html>
