<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Swagger UI 4</title>
    <link rel="stylesheet" type="text/css" href="./swagger-ui.css" />
    <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16" />
    <style th:text="${apidoc_protector_swagger_css}"></style>
</head>

<body>

<input id="hidden-api-docs-path" type="hidden" th:value="${api_docs_path}" />
<input id="swagger-layout" type="hidden" th:value="${swagger_layout}" />
<input id="show-url-api-docs" type="hidden" th:value="${show_url_api_docs}" />

<div id="inject-content">
    <span id="exit">
        <a th:href="${apidoc_protector_logout_token}">&#10162;</a>
    </span>
</div>

<div id="swagger-ui"></div>

<script src="./swagger-ui-bundle.js" charset="UTF-8"> </script>
<script src="./swagger-ui-standalone-preset.js" charset="UTF-8"> </script>
<script>
    window.onload = function() {

      //Custom Api-Docs-Settings
      let url_api_docs_path = document.getElementById('hidden-api-docs-path').value;
      let swagger_layout = document.getElementById('swagger-layout').value;
      let show_url_api_docs = document.getElementById('show-url-api-docs').value;

      // Begin Swagger UI call region
      const ui = SwaggerUIBundle({
        url: url_api_docs_path,
        dom_id: '#swagger-ui',
        deepLinking: false,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: swagger_layout
      });
      // End Swagger UI call region

      window.ui = ui;

      (function() {
        setTimeout(function() {
          if (show_url_api_docs === "false") {
            document.getElementsByClassName('url')[0].innerHTML = '';
            document.querySelectorAll('input.download-url-input')[0].value = '';
          } else {
            document.querySelectorAll('span.url')[0].style.color = '#4990e2';
            document.querySelectorAll('input.download-url-input')[0].style.color = '#131313';
          }
        }, 500);
      })();

    };
  </script>
</body>
</html>
